name: Build and Deploy React App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push Docker Image
      run: |
        IMAGE=cescye/react-phase2:${GITHUB_SHA}
        docker build -t $IMAGE .
        docker push $IMAGE

    - name: Update deployment manifest with Git SHA
      run: |
        sed -i "s|image: .*|image: cescye/react-phase2:${GITHUB_SHA}|" k8s/deployment-v2.yaml

    - name: Commit manifest update
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: "Deploy image ${GITHUB_SHA}"
        branch: main
